# model-deployment.yaml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: model
  namespace: kubeflow
spec:
  selector:
    matchLabels:
      run: model
  replicas: 2
  template:
    metadata:
      labels:
        run: model
    spec:
      containers:
      - name: model
        image: us-central1-docker.pkg.dev/kubernetes-cc-2025-478900/ml-models/model:latest
        ports:
        - containerPort: 5000
        resources:
          requests:
            memory: "256Mi"
            cpu: "100m"
          limits:
            memory: "512Mi"
            cpu: "500m"
      imagePullSecrets:
      - name: gcp-artifact-registry